// out: ../css/nomosoro.css, compress: true, strictMath: true, autoprefixer : true,
body {
    color: hsla(220, 0%, 50%, 1);
    font-weight: 300;
}

a {
    color: darkcyan;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 23px;
    height: 23px;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0, 80%, 1);
    border: 0px none #ffffff;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0, 75%, 1);
}

::-webkit-scrollbar-thumb:active {
    background: hsla(0, 0, 60%, 1);
}

::-webkit-scrollbar-track {
    background: hsla(0, 0, 90%, 1);
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: hsla(0, 0, 90%, 1);
}

::-webkit-scrollbar-track:active {
    background: hsla(0, 0, 90%, 1);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

div.nomosoro {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

img.logo-mid {
    width: 354.5px;
    height: 71px;
}

div.home-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: hsla(0, 0, 90%, 1);
    &.active {
        display: flex;
    }
    &.inactive {
        display: flex;
    }
    div.section-button {
        position: fixed;
        width: 100vw;
        height: 25vh;
        font-size: calc(~'.6vw + 2.5vh');
        background: white;
        transition: transform 1s, background .3s, color .3s;
        color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: default;
            &.top-left {
                top: -5px;
                left: -5px;
                border: 5px solid lightgray;
                &:hover {
                    color:  hsla(32, 50%, 60%, 1);
                }
                &.fadeout {
                    overflow: hidden;
                    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 60%, 1);
                    transform: translate(0, -105%);
                }
            }
            &.top-right {
                top: 25vh;
                right: -5px;
                border: 5px solid lightgray;
                &:hover {
                    color:  hsla(96, 50%, 60%, 1);
                }
                &.fadeout {
                    overflow: hidden;
                    box-shadow: -10px 10px 20px 0px hsla(0, 0%, 60%, 1);
                    transform: translate(105%, 0);
                }
            }
            &.bottom-left {
                bottom: 25vh;
                left: -5px;
                border: 5px solid lightgray;
                &:hover {
                    color:  hsla(160, 50%, 60%, 1);
                }
                &.fadeout {
                    overflow: hidden;
                    box-shadow: 10px -10px 20px 0px hsla(0, 0%, 60%, 1);
                    transform: translate(-105%, 0);
                }
            }
            &.bottom-right {
                bottom: -5px;
                right: -5px;
                border: 5px solid lightgray;
                &:hover {
                    color: hsla(224, 50%, 60%, 1);
                }
                &.fadeout {
                    overflow: hidden;
                    box-shadow: -10px -10px 20px 0px hsla(0, 0%, 60%, 1);
                    transform: translate(0, 105%);
                }
            }
        span.section-button-text,
        span.section-button-underhood {
            display: block;
            transition: opacity 1s;
        }
        &:not(.show-underhood) {
            span.section-button-underhood {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                z-index: -1;
            }
        }
        &.show-underhood {
            span.section-button-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                z-index: -1;
            }
        }
    }
}

div.section-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    transition: opacity .5s;
    background: hsla(0, 0, 90%, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
    div.close-section-button {
        width: 100%;
        max-width: 1200px;
        font-size: 1.2em;
        color: hsla(224, 30%, 40%, 1);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .3s, color .3s;
        cursor: default;
        z-index: 3;
        &:hover {
            color:  hsla(224, 50%, 60%, 1);
        }
    }
    div.section-content {
        position:relative;
        width: 100%;
        max-width: 1200px;
        max-height: 100%;
        overflow-y: auto;
        background: hsla(0, 0%, 100%, 1);
        div.content-wrapper {
            position: relative;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}

div.section-content.profile {
    position: relative;
    div.content-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    div.quoter-top-left {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 50px;
        border-color: hsla(0, 0, 80%, 1);
        border-style: solid;
        border-width: 2px 0px 0px 0px;
    }
    div.quoter-bottom-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100px;
        height: 50px;
        border-color: hsla(0, 0, 80%, 1);
        border-style: solid;
        border-width: 0px 0px 2px 0px;
    }
}

div.section-content.portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position:relative;
    div.content-close-button {
        position:absolute;
        top:-40px;
        left:0px;
        width: 100%;
        max-width: 1200px;
        font-size: 1.2em;
        color: hsla(224, 30%, 40%, 1);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .3s, color .3s,top .5s;
        cursor: default;
        z-index: 1;
        flex-shrink: 0;
        &:hover {
            color:  hsla(224, 50%, 60%, 1);
        }
    }
    div.content-wrapper {
        height: calc(~'100vh - 40px');
        flex-shrink: 1;
        width: 100%;
        overflow-x: hidden;
        transition:.5s;
        div.portofolio-viewers {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            z-index: 1;
            opacity: 1;
            top: 0px;
            transition: opacity .3s, top .3s;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-x: hidden;
            overflow-y: auto;
            align-items: center;
            height: 100%;
            -webkit-overflow-scrolling: touch;
            div.portofolio-item-viewer {
                transition: opacity .3s;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: stretch;
                justify-content: center;
                flex-wrap: wrap;
                flex-shrink: 0;
                div.portofolio-item-viewer-img-container {
                    min-width: 400px;
                    max-height: 600px;
                    display: flex;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                }
                div.portofolio-item-viewer-summary {
                    padding: 20px;
                    flex-grow: 1;
                    font-size: 1.4em;
                    font-weight: 300;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background .3s, color .3s;
                }
                &:hover {
                    div.portofolio-item-viewer-summary {
                        color: hsla(160, 50%, 60%, 1);
                    }
                }
            }
        }
        div.portofolio-content {
            position: absolute;
            z-index: 2;
            top: 0px;
            bottom: 0px;
            left: 100%;
            padding-left: 20px;
            padding-right: 20px;
            width: calc(~'100% - 40px');
            opacity: 1;
            transition: .5s;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            background: hsla(0, 0, 100%, 1);
            &.scrolled {
            }
        }
    }
    &.content-showing {
        padding-top:40px;
        div.content-close-button{
            top:0px;
        }
        div.content-wrapper {
            height: calc(~"100vh - 80px");
            div.portofolio-content {
                left:0%;
            }
        }
    }
}

div.section-content.thoughts {
    div.content-wrapper {
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

div.section-content.connect {
    div.content-wrapper {
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

div.article {
    padding-bottom: 100px;
    div.article-head-img-wrapper {
        width: 100%;
        display: flex;
        max-height: 600px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    div.article-img-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        span.img-caption {
            display: inline-block;
            padding-bottom: 8px;
            padding-top: 8px;
            font-size: 1.1em;
        }
        &.height-limited {
            img {
                width: auto;
            }
        }
    }
    div.article-img-set-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div.img-set {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow: auto;
            padding-bottom: 5px;
            img {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                max-height: 480px;
            }
        }
        span.img-caption {
            display: inline-block;
            padding-bottom: 8px;
            padding-top: 8px;
            font-size: 1.1em;
        }
    }
    span.article-time {
        display: inline-block;
        margin-right: 10px;
    }
    span.article-category {
        margin-right: 10px;
    }
}
div.scroll-helper{
    position:absolute;
    bottom:50px;
    right:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:150px;
    width:64px;
    overflow:visible;
    div.scroll-helper-up,div.scroll-helper-down{
        width:64px;
        height:64px;
        background:white;
        box-shadow:5px 5px 10px 0px hsla(0,0,50%,1);
        img{
            width:64px;
            height:64px;
        }
    }
}


